
{% extends "layout.html" %}
{% block body %}
<h2>
    REGISTER
</h2>

<form method="POST" action="">
    <label >Name:</label><br>
    <input type="text" name="name" />
    <br>
    <br>
    <label >Email:</label><br>
    <input type="email" name="email"/>
    <br>
    <br>
    <label >Licence No:</label><br>
    <input type="text" name="licence">
    <br>
    <br>
    <label >password:</label><br>
    <input type="password" name="password">
    <br>
    <br>

                <input type="submit">

</form>
{% endblock %}