{% extends "layout.html" %}
{% block body %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> LIQOUR'S CASTLE CONTACT PAGE </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <div class="bottle"></div>
  <div class="middle">
      <h1>  <font color="188EDC" size="10">LIQOUR'S CASTLE CONTACT PAGE !</font> </h1>
      <a class="btn" target="_top" href = "https://www.facebook.com/">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn" href="https://github.com/">
        <i class="fab fa-github"></i>
      </a>
      <a class="btn" href="https://twitter.com/">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn" href="https://www.google.com/intl/en-GB/gmail/about/">
        <i class="fab fa-google"></i>
      </a>
      <a class="btn" href="https://www.instagram.com/">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </body>
</html>
{% endblock %}